[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "==1.19.4"
cryptography = "==3.4.7"
protobuf = "==3.17.3"
google-auth = "==1.32.0"
python-magic = "==0.4.24"
tabulate = "==0.8.9"
scipy = "==1.5.4"
editdistance = "==0.5.3"
h5py = "==3.1.0"
intervaltree = "==3.1.0"
gdown = "==3.13.0"
scikit-learn = "==0.24.0"
python-dotenv = "==0.18.0"
flask-restx = "==0.4.0"
marshmallow = "==3.12.2"
Flask = "==1.1.4"
Flask-SQLAlchemy = "==2.5.1"
PyMySQL = "==1.0.2"
Flask-JWT-Extended = "==4.2.1"
Flask-Cors = "==3.0.10"
PyYAML = "==5.4.1"
uWSGI = "==2.0.19.1"
sacrebleu = "*"

[dev-packages]

[requires]
python_version = "3.6"
